h1{
    color: blueviolet;
    font-size: 60px;
    font-family: Arial;
  
   

}

img{
    width: 200px;
    height: 300px;
    border-radius: 5px;
   
    

}

h2{
    font-size: 20px;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 30px;
    color: green;
    font-family: 'Roboto', sans-serif;
}

.sec1 p{
    font-size: 15px;
    font-family: sans-serif;
    color: grey;
}

.sec1 a{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(37, 13, 13); 
}